.app-bar {
  display: flex;
  margin: 0;
  padding: 0;
  height: 56px;
  font-size: 26px;
  line-height: 56px;

  .title {
    margin-left: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .link {
    margin-left: 0.25em;

    .mat-icon {
      position: relative;
      top: 4px;
    }
  }
}

.report {
  max-width: 1400px;
  margin: 0 auto;

  .inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 1em;

    .mat-mdc-form-field {
      display: inline-block;
      min-width: 25%;
      max-width: 45%;
    }
  }
}

@media screen and (max-width: 500px) {
  .app-bar {
    height: 46px;
    font-size: 22px;
    line-height: 46px;

    .title {
      margin-left: 0.5em;
    }
  }

  .report {
    .inputs {
      .mat-mdc-form-field {
        width: 45%;
      }
    }
  }
}

