/**
 * Priest Abilities
 */

.icon {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  // VT
  &.spell-34917, &.spell-vt {
    background-image: url('../assets/vt.jpg');
  }

  // SW:P
  &.spell-25368, &.spell-swp {
    background-image: url('../assets/swp.jpg');
  }

  // Mind Blast
  &.spell-25375, &.spell-mb {
    background-image: url('../assets/mb.jpg');
  }

  // Mind Flay
  &.spell-25387, &.spell-flay {
    background-image: url('../assets/flay.jpg');
  }

  // SW: Death
  &.spell-32996, &.spell-swd {
    background-image: url('../assets/swd.jpg');
  }

  // VE
  &.spell-15286, &.spell-ve {
    background-image: url('../assets/ve.jpg');
  }

  // Shield
  &.spell-25218, &.spell-shield {
    background-image: url('../assets/shield.jpg');
  }

  // Fade
  &.spell-25429, &.spell-fade {
    background-image: url('../assets/fade.jpg');
  }

  // Fear Ward
  &.spell-6346, &.spell-fear-ward {
    background-image: url('../assets/ward.jpg');
  }

  // Shadowfiend
  &.spell-34433, &.spell-fiend {
    background-image: url('../assets/fiend.jpg');
  }

  // Devouring Plague
  &.spell-25467, &.spell-dp {
    background-image: url('../assets/plague.jpg');
  }

  // Starshards
  &.spell-25446, &.spell-starshards {
    background-image: url('../assets/starshards.jpg');
  }

  // Desperate prayer
  &.spell-25437, &.spell-desperate-prayer {
    background-image: url('../assets/prayer.jpg');
  }

  // Berserking
  &.spell-26297, &.spell-berserking {
    background-image: url('../assets/berserking.jpg');
  }

  // Dispel Magic
  &.spell-988, &.spell-dispel-magic {
    background-image: url('../assets/dispel.jpg');
  }

  &.spell-64843 {
    background-image: url('../assets/divinehymn.jpg');
  }

  &.spell-32375, &.spell-mass-dispel {
    background-image: url('../assets/massdispel.jpg');
  }

  &.spell-48078, &.spell-holy-nova {
    background-image: url('../assets/holynova.jpg');
  }

  /**
   * Engineering
   */

  // Adamantite Grenade
  &.spell-30217, &.spell-boom {
    background-image: url('../assets/boom.jpg');
  }

  // Dense Dynamite
  &.spell-23063 {
    background-image: url('../assets/boom.jpg');
  }

  &.spell-30216 {
    background-image: url('../assets/boom.jpg');
  }

  // Goblin land mine
  &.spell-4100 {
    background-image: url('../assets/mine.jpg');
  }

  // Goblin Sapper
  &.spell-13241 {
    background-image: url('../assets/boom.jpg');
  }

  // Super Sapper Charge
  &.spell-30486 {
    background-image: url('../assets/boom.jpg');
  }

  /**
   * Buffs
   */

  &.spell-32182, &.spell-heroism {
    background-image: url('../assets/heroism.jpg');
  }

  &.spell-2825, &.spell-bloodlust {
    background-image: url('../assets/bloodlust.jpg');
  }

  &.spell-28507, &.spell-haste-potion {
    background-image: url('../assets/haste.jpg');
  }

  &.spell-35476, &.spell-351355, &.spell-drums-of-battle {
    background-image: url('../assets/drums.jpg');
  }

  &.spell-40396, &.spell-skull-of-guldan {
    background-image: url('../assets/skull-of-guldan.jpg');
  }

  &.spell-18803, &.spell-focus {
    background-image: url('../assets/focus.jpg');
  }

  &.spell-45856, &.spell-breathe-haste {
    background-image: url('../assets/haste-breath.jpg');
  }

  &.spell-24907, &.spell-moonkin-aura {
    background-image: url('../assets/moonkin.jpg');
  }

  &.spell-54043, &.spell-ret-aura {
    background-image: url('../assets/ret-aura.jpg');
  }

  &.spell-10060, &.spell-pi {
    background-image: url('../assets/pi.jpg');
  }

  &.spell-33370, &.spell-quags {
    background-image: url('../assets/quags.jpg');
  }

  &.spell-3738, &.spell-wrath-of-air {
    background-image: url('../assets/wrath-of-air.jpg');
  }

  &.spell-28508, &.spell-destruction {
    background-image: url('../assets/destruction.jpg');
  }

  &.spell-45044, &.spell-sns {
    background-image: url('../assets/sliver.jpg');
  }

  &.spell-43712, &.spell-hsh {
    background-image: url('../assets/hsh.jpg');
  }

  &.spell-51953, &.spell-dark-iron-pipe {
    background-image: url('../assets/pipe.jpg');
  }

  &.spell-35163, &.spell-icon-crescent {
    background-image: url('../assets/crescent.jpg');
  }

  &.spell-55637, &.spell-lightweave {
    background-image: url('../assets/lightweave.jpg');
  }

  &.spell-61792, &.spell-shadowy-insight {
    background-image: url('../assets/shadowy-insight.jpg');
  }

  &.spell-54758, &.spell-hyperspeed {
    background-image: url('../assets/hyperspeed.jpg');
  }

  &.spell-14751, &.spell-inner-focus {
    background-image: url('../assets/innerfocus.jpg');
  }

  &.spell-60480, &.spell-war-prisoner {
    background-image: url('../assets/motwp.jpg');
  }

  &.spell-60064, &.spell-sundial {
    background-image: url('../assets/sundial.jpg');
  }

  &.spell-56184, &.spell-twilight-serpent {
    background-image: url('../assets/serpent.jpg');
  }

  &.spell-60479, &.spell-forge-ember {
    background-image: url('../assets/fire.jpg');
  }

  &.spell-60471, &.spell-tome-arcane-phenomena {
    background-image: url('../assets/tome.jpg');
  }

  &.spell-59657, &.spell-argent-valor {
    background-image: url('../assets/argent-valor.jpg');
  }

  &.spell-60494, &.spell-dying-curse {
    background-image: url('../assets/dying-curse.jpg');
  }

  &.spell-60492, &.spell-embrace-spider {
    background-image: url('../assets/embrace-spider.jpg');
  }

  &.spell-53908, &.spell-speed-potion {
    background-image: url('../assets/speed-potion.jpg');
  }

  &.spell-53909, &.spell-wild-magic {
    background-image: url('../assets/wild-magic.jpg');
  }

  &.spell-59626, &.spell-black-magic {
    background-image: url('../assets/black-magic.jpg');
  }

  &.spell-64320, &.spell-rune-of-power {
    background-image: url('../assets/powerrune.jpg');
  }

  &.spell-62836, &.spell-slag-imbued {
    background-image: url('../assets/slagimbued.jpg');
  }

  &.spell-64907, &.spell-devious-mind {
    background-image: url('../assets/deviousmind.jpg');
  }

  &.spell-63277, &.spell-shadow-crash {
    background-image: url('../assets/shadowcrash.jpg');
  }

  &.spell-62807, &.spell-starlight {
    background-image: url('../assets/starlight.jpg');
  }

  &.spell-64713, &.spell-flame-heavens {
    background-image: url('../assets/sundial.jpg');
  }

  &.spell-64707, &.spell-scale-fates {
    background-image: url('../assets/scalefates.jpg');
  }

  &.spell-398475, &.spell-living-flame {
    background-image: url('../assets/livingflame.jpg');
  }

  &.spell-64741, &.spell-pandoras-plea {
    background-image: url('../assets/sundial.jpg');
  }

  &.spell-67669, &.spell-abyssal-rune {
    background-image: url('../assets/abyssal-rune.jpg');
  }

  &.spell-67683, &.spell-crystal-heart {
    background-image: url('../assets/crystal-heart.jpg');
  }

  &.spell-60486, &.spell-dragon-soul {
    background-image: url('../assets/dragonsoul.jpg');
  }

  &.spell-67735, &.spell-67743, &.spell-volatile-power {
    background-image: url('../assets/volatile-power.jpg');
  }

  /**
   * Misc
   */

  // Netherweave net
  &.spell-31367, &.spell-net {
    background-image: url('../assets/net.jpg');
  }

  // Plant Thornling
  &.spell-22792, &.spell-thornling {
    background-image: url('../assets/thornling.jpg');
  }
}



