.content {
  padding-left: 1em;
  padding-right: 1em;

  .icon {
    height: 32px;
    width: 32px;
  }

  .target-form {
    margin-left: 10px;
    width: 250px;
  }

  ::ng-deep .mat-mdc-tab, ::ng-deep .mat-mdc-tab-link {
    min-width: 60px;

    .label {
      margin-left: 6px;
    }
  }

  ::ng-deep .mat-mdc-tab.mdc-tab--active {
    opacity: 1;
  }

  .downranked {
    margin: 0 auto 15px auto;
    max-width: 70%;

    h4 {
      font-size: 1.2em;
      margin-bottom: 8px;
    }

    li {
      margin: 2px 0;
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .content {
    ::ng-deep .mat-mdc-tab, ::ng-deep .mat-mdc-tab-link {
      min-width: 50px;
      max-width: 60px;

      .label {
        display: none;
      }
    }

    .downranked {
      max-width: 100%;
    }
  }
}
