<div class="home">
  <div class="content">
    <div class="header">
      <div class="logo"></div>
      <h1 class="text-primary">TBC Shadow Priest Analyzer</h1>
    </div>

    <mat-card>
      <mat-card-content>
        <form class="report-form" [formGroup]="form">
          <mat-form-field class="fill" appearance="outline">
            <mat-label>Enter WCL report ID or URL</mat-label>
            <input type="text"
                   formControlName="log"
                   placeholder="e.g. https://classic.warcraftlogs.com/reports/WLkZ1TmdcJD76Aty"
                   value=""
                   (keydown.enter)="loadReport()"
                   matInput />
            @if (log?.hasError('invalid')) {
              <mat-error>
                Enter a valid WCL report ID or URL
              </mat-error>
            }
            @if (log?.hasError('wcl')) {
              <mat-error>
                {{log?.getError('wcl')}}
              </mat-error>
            }
            @if (log?.dirty && log?.valid && !searching) {
              <button aria-label="Load Report"
                      color="primary"
                      (click)="loadReport()"
                      matSuffix mat-icon-button>
                <mat-icon>search</mat-icon>
              </button>
            }
            @if (searching) {
              <mat-spinner matSuffix color="accent" diameter="16"></mat-spinner>
            }
            @if (log?.pristine && summary) {
              <mat-icon matSuffix color="primary">done</mat-icon>
            }
          </mat-form-field>

          <mat-form-field class="fill" appearance="outline">
            <mat-label>Select Player</mat-label>
            <mat-select #selectPlayer formControlName="player">
              @for (option of summary?.shadowPriests; track option.id) {
                <mat-option [value]="option.id">
                  {{option.name}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field class="fill" appearance="outline">
            <mat-label>Select Encounter</mat-label>
            <mat-select #selectEncounter formControlName="encounter">
              @for (option of encounters; track option.id) {
                <mat-option [value]="option.id">
                  {{option.description}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <div style="text-align: center">
            <button mat-flat-button color="primary" [disabled]="!formComplete" (click)="analyze($event)">Analyze</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
    <div class="footer text-subdued">
      Made by KalonxD-Pagle <a href="https://discord.gg/classicshadow" target="_blank">@Kalon</a>, TBC fork by Alturism-Nightslayer <a href="https://discord.gg/classicshadow" target="_blank">@macka</a>
      <span class="separator">|</span>
      <span><a href="https://github.com/trusty118/shadow_tbc/blob/main/GLOSSARY.md" target="_blank">Glossary of Terms</a></span>
      <span class="separator">|</span>
      <span><a href="https://github.com/trusty118/shadow_tbc" target="_blank">Source</a></span>
    </div>
  </div>
</div>
